
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    color:#750;
     font-family: "Platypi", serif;
     font-weight: 300;
}

.wrapper{
    width:1280px;
    margin: 50px auto;
}

header .logo{
    font-weight: 600;
    font-size: 20px;
}

header ul.nav{
    float:right;
    list-style: none;
}

header ul.nav li{
    display:inline;
    margin-left: 25px;
    cursor:pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover{
    opacity: 0.5;
}

header .presentation{
    margin: 50px 0;
    background: url('./img/japandi-1.jpg');
    width: 100%;
    height: 1024px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}   

header .presentation::after{
    content: 'Товары для вашего дома';
    position: absolute;
    top: 100px;
    left:50px;
    width:300px;
    font-size:40px;
    font-weight: 600;
    color:#bcbcbc;
}

header .presentation::before{
    content: 'с доставкой на дом';
    position: absolute;
    top: 230px;
    left:50px;
    width:300px;
    font-size:30px;
    font-weight: 300;
    color:#bcbbb6;
}

footer{
    text-align: center;
    margin-top: 100px;
}